*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.popup{
	background-color: white;
	width: 52%;
	padding: 40px 40px;
	transform: translate(-50%, -50%);
	left: 50%;
	border-radius: 7px;
	display: none;
	position: fixed;
	z-index:999 ;
	margin-top: 177px;


}
.popup button{
	display: block;
	margin: 0 0 20px auto;
	background-color: transparent;
	font: #c5c5c5;
	border: none;
	outline: none;
	cursor: pointer;
}
.popup h3
{
	color: #ff0000;
	text-align: center;
}
.logo img 
{
	display: none;
}
